<div class="container">

	<h1>
	  	<!-- <img src="/logo.png" alt="Smiley face" style="float:left;width:232px;height:300px;"> -->
		Welina me ke aloha  
	</h1>
	
	<p>
		While we at Kamehameha Schools believe our security defenses are ready for anything malicious attackers can throw at us, we have to test our systems and our staff's knowledge by running real-world scenarios. These scenarios are designed to measure our capabilities to stand up against social, physical, network and application attacks, from a simulated real-life attacker.
	</p>
	<p>
		 We are currently running real-world phishing attack scenarios. Had this scenario been an actual phishing attack, your machine could have been compromised the moment you clicked on the link provided in the email that directed you to this page.

		As a result, we ask that you to take a few minutes to refresh yourself with the safe 101 guidelines. 
	</p>

	<p>
		The link to the safe 101 can be found 
		<a href="https://team.ksbe.edu/sites/infosec/awareness.aspx">
			here
		</a>
		. 
	</P>
</div>




