<h1> Welina me ke aloha </h1>

<p>
The KS ISO team is currently running a phising exercise.

Had this have been an actual phishing attack your system could have been compermised. As a result we would like you to take a few minutes to refresher yourself with the safe 101 guidlines. The link to the safe 101 can be found <a href="http://www.ksbe.com">here</a> (this is a real link this time). 
</P>
