<div class="container">

	<div class="title_header" >
		<img src="/logo.png" height="200px">
		<h1> Attention </h1>
	</div>
	<!-- <div style="clear: left;">
		<p style="float: left;"><img src="http://placekitten.com/g/200/200" height="200" width="200" border="1px"></p>
		    <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
	</div> -->

	<div class="content">		
		
		<p>
			Kamehameha Schools’ (KS) Information Security Office (ISO) is currently executing our annual real-world phishing attack among our staff. This exercise is meant to measure KS staff behavior and test our security awareness.
		</p>
		<p>
			 You are here because you clicked on the link within the ISO engineered email that targeted a specific sample size of the KS staff population. Had this been an actual and malicious phishing attack from an outsider, your computer most likely would have been compromised the moment you clicked on the link within the email that brought you here. Your theoretically compromised machine could have opened KS networks and systems to further attacks. 
		</p>

		<p>
			At this point, we would like to guide you to the KS SAFE101 Training Tutorial. You may already be familiar with this training, or recall taking this tutorial previously. Please begin your KS  		
			<!-- <a href="http://kapalama.ksbe.edu/ittraining/0Pub/Information%20Security/Information%20Security%20output/story.html">
				SAFE101 Tutorial
			</a>
			. -->
			<a href="http://kapalama.ksbe.edu/ittraining/0Pub/Information%20Security/Information%20Security%20output/story.html" class="keen-click-track" data-keen-name="click_safe101_tut">
				SAFE101 Tutorial
			</a>
			.

		</P>

	</div>

	
</div>



